/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-22, 15:18:09
    Author     : ps
*/

h1{
    color:#f22311;
    font-size: 2em;
}